.index_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
.index_header_logo{
    display: flex;
    align-content: flex-start;
    height: 8em;
    width: 8em;
}
.social_infos{
    padding: 0em 1em;
    display: flex;
}
.discord_join_button{
    background: url(../img/discord.jpg);
}
.social_button_facebook{
    background: url(../img/facebook.jpg);
}
.social_button_instagram{
    background: url(../img/intagram.png);
}
.my_account_button{
    background: url(../img/myaccount.jpg);
}
.discord_join_button, .social_button_facebook, .social_button_instagram, .my_account_button{
    border-radius: 1em;
    background-size: 3.7em 3.5em;
    height: 4em;
    width: 4em;
}

.form_container{
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

#form_button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.principal_buttons{
    background-color: darkblue;
    border:solid brown 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    shape-outside: margin-box;
}
.principal_buttons{
    display: flex;
    flex-wrap: wrap;
}

.principal_buttons button{
    color: white;
    background-color: darkblue;
    border: 0;
    font-family: "Open Sans", Arial, sans-serif ;
    font-size: 1.5em;
    font-weight: 700;
}
button:hover {
    opacity: 0.8;
}
form{
    border: 3px solid #f1f1f1;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .close_login {
  color: #aaaaaa;
  float: right;
  margin-top: -10.5em;
  margin-right: 0.5em;
  font-size: 28px;
  font-weight: bold;
}
.close_register {
  color: #aaaaaa;
  float: right;
  margin-top: -12.5em;
  margin-right: 0.5em;
  font-size: 28px;
  font-weight: bold;
}
.modal{
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  height: 100%;
  width: 99%;
  display: none;
  justify-content: center;
  align-items: center;
}