h1{
    display: flex;
    justify-content: center;
}
.main_div{
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", Arial, sans-serif ;
    font-size: 1em;
}
.main_raport,.authors{
    padding-left: 15%;
    padding-right: 15%;
}